[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "<6"
jupyter = "<2"
jupytext = "*"

[packages]
flask = "*"
Flask-Caching = "*"
ipython = "<9"
jinja2 = "<3"
jupyter-client = "<7"
jupyter-core = "<5"
matplotlib = "*"
markupsafe = "<2"
nbconvert = "<6"
nbformat = "<6"
nbparameterise = "<1"
numpy = "*"
pandas = "*"

[scripts]
app = 'python ./src/main.py'
cli = './src/cli.py'
install_kernel = "python -m ipykernel install --user --name=nbflask-example"
notebook = 'jupyter notebook src/test.ipynb'

[requires]
python_version = "3.10"
